{% if user.is_authenticated %}
<nav
  class="navbar bg-body-tertiary"
  style="
    background: linear-gradient(
      135deg,
      #052f33,
      #052f33 10%,
      #11b6c7
    ) !important;
  "
>
  <div class="container-fluid">
    <a class="navbar-brand mx-4" style="color: #fff">Navbar</a>
    <!-- <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    <div class="d-flex align-items-center">
      <!-- <p
        class="mt-0 mb-0 mx-3"
        style="
          border: none;
          /* color: #000;  */
          font-size: smaller;
          /* width: 130px; */
          height: 40px;
          color: #fff;
          border-radius: 5px;
          padding: 10px 25px;
          font-family: 'Lato', sans-serif;
          /* font-weight: 500; */
          background: transparent;
          cursor: pointer;
          transition: all 0.3s ease;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          position: relative;
          display: inline-block;
        "
      >
        Update Profile
      </p> -->
      <a
        href="{% url 'update_password' %}"
        class="mt-0 mb-0 mx-3"
        style="
          border: none;
          color: #000;
          font-size: smaller;
          /* width: 130px; */
          height: 40px;
          color: #fff;
          border-radius: 5px;
          padding: 10px 25px;
          font-family: 'Lato', sans-serif;
          /* font-weight: 500; */
          background: transparent;
          cursor: pointer;
          transition: all 0.3s ease;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          position: relative;
          display: inline-block;
          text-decoration: none;
        "
      >
        Update Password
      </a>

      <a href="{% url 'user_logout' %}" class="btn btn-info mx-3">Sign Out</a>
    </div>
  </div>
</nav>

{% endif %}
